/*背景*/
body{
  background-color:rgb(217, 240, 191);
  overflow-x: hidden;
}
.item {
  margin-top: 10px;
  margin-right: 40px;
}
#head{
  background-color:rgb(255,250,232);
}
/*左侧边栏*/
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 420px;
}
/*主页*/
.card-body{
  background-color:rgb(255,250,232);
}
.card-body a{
  margin-right: 2rem;
  margin-bottom: 2rem;
}
/*信息补充按钮*/
.forbit-btn:hover{
  cursor: not-allowed;
}
[v-cloak]{
  display:none;
}
